* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    position: relative;
}

.header{
    width: 100%;
}

.header img{
    width: 6%;
    min-width: 120px;
}


.body{
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 12px;
    box-sizing: border-box;
}

.body h1{
    font-size: 40px;
    text-align: center;
    color: rgb(27, 0, 147);
    padding-bottom: 30px;
}

form{
    margin: auto;
}

.input-group{
    display: flex;
    flex-flow: column;
    padding: 4px;
}

.input-group input, textarea{
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(205, 205, 205);
    font-size: 16px;
}

textarea{
    box-sizing: border-box;
    height: 120px;
    padding: 10px;
    margin-bottom: 30px;
}

.input-group input{
    box-sizing: border-box;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.input-group input::placeholder{
    font-size: 16px;
}

.input-group label{
    font-size: 18px;
    color: rgb(27, 0, 147);
}

.diff{
    display: flex;
    gap: 10px;
    width: 100%;
}

.diff .input-group{
    flex: 1;
}

input[type="submit"]{
    width: 30%;
    margin: auto;
    color: white;
    background-color: rgb(3, 208, 209);
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.input-group.success input{
    border-color: rgb(9, 195, 114);
}

.input-group.error input{
    border-color: rgb(255, 56, 96);
}

.input-group .error{
    color: rgb(255, 56, 96);
    font-size: 14px;
    height: 13px;
}

.con-message{
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    color: rgb(9, 195, 114);
    font-weight: bold;
}

@media(max-width:600px){
    .header{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .content h1{
        font-size: 30px;
    }

    .input-group input::placeholder{
        font-size: 15px;
    }
}

@media(max-width:400px){
    .content h1{
        font-size: 26px;
    }

    .input-group input::placeholder{
        font-size: 14px;
    }
}

